<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1">
  <listeners>
<listener class-name="ExtentReport.ExtentReportClass"></listener>
</listeners>
  
  
  
  
  
  <test  name="Test1">
  
 
  
  
  
    <classes>
    <class name="com.qa.test.LoginPageTest"/>
    <class name="com.qa.test.ManagerTest"/>
      <class name="com.qa.test.CustomerTest"/>
      
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
